@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
:root{
    font-family: 'DotGothic16', sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    background-size: cover;

}

::-webkit-scrollbar {
    width: 12px;
    display: none;
}

a {
    text-decoration: none;
    color: white;

}

h2 {
    font-size: 90px;
}

